You must rename this file secret.php and fill in the following fields (and delete this line)
<?php

const APN_TOKEN_ID = { See https://developer.apple.com/account/resources/certificates/list }
const APN_TEAM_ID  = 

const DB_USER = { Based on how the mysql database was configured }
const DB_PASS = 
const DB_NAME = 
const DB_HOST = 

const SSL_KEY    = { key used for calls to openssl functions }

const ADMIN_NAME  = { For sending email to TheGame administrator }
const ADMIN_EMAIL = 

const FB_APP_ID = { See https://developer.facebook.com }
const FB_APP_SECRET = 

?>
